<div class="container skills">
    <h2>My Skills</h2>
    <div class="row">
        <div class="span3" title="Adobe Experience Manager">
            <div class="aem">
                <h3>AEM</h3>
            </div>
        </div>
        <div class="span3">
            <div class="java">
                <h3>JAVA</h3>
            </div>
        </div>
        <div class="span3">
            <div class="sql" title="Standardized Query Language">
                <h3>SQL</h3>
            </div>
        </div>
        <!-- <div class="span5">
            <h3>Adobe Experience Manager <span>90%</span></h3>
            <div class="expand-bg"> <span class="expand aem2"> &nbsp; </span> </div>
        </div> -->
    </div>
    <div class="row">
        <div class="span3">
            <div class="html" title="Hypertext Markup Language">
                <h3>HTML</h3>
            </div>
        </div>
        <div class="span3">
            <div class="css" title="Cascading Style Sheet">
                <h3>CSS3</h3>
            </div>
        </div>
        <div class="span3">
            <div class="android" title="Cascading Style Sheet">
                <h3>Android</h3>
            </div>
        </div>
        <!-- <div class="span5">
            <h3>HTML <span>80%</span></h3>
            <div class="expand-bg"> <span class="expand ai2"> &nbsp; </span> </div>
        </div> -->
    </div>
</div>
