<div class="container work">
  <h2>My Work</h2>
  <ul class="work-images">
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="img/1.jpg" title="Image 01"><img src="img/1-thumb.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="img/2.jpg"><img src="img/2-thumb.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="img/3.jpg"><img src="img/3-thumb.jpg" alt=""></a></div>
    </li>
  </ul>
  <ul class="work-images">
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="img/4.jpg"><img src="img/4-thumb.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="img/5.jpg"><img src="img/5-thumb.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="img/6.jpg"><img src="img/6-thumb.jpg" alt=""></a></div>
    </li>
  </ul>
</div>